In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [28]:
train = pd.read_csv("train.csv")
train

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Saleprice
0,1,18.144573,13.833054,7,3.991517,2003,2003,19.433175,144.117862,0.000000,...,0,0,1,0,0,0,0,1,0,208501.0
1,2,20.673625,14.117918,6,6.000033,1976,1976,54.598150,181.719186,0.000000,...,0,0,1,0,0,0,0,1,0,181501.0
2,3,18.668047,14.476512,7,3.991517,2001,2002,17.768840,110.441033,0.000000,...,0,0,1,0,0,0,0,1,0,223501.0
3,4,17.249651,14.106196,7,3.991517,1915,1970,54.598150,61.795315,0.000000,...,0,0,1,1,0,0,0,0,0,140001.0
4,5,21.314283,15.022008,8,3.991517,2000,2000,25.404164,136.624601,0.000000,...,0,0,1,0,0,0,0,1,0,250001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1454,17.611139,13.688829,6,3.991517,1999,2000,54.598150,665.141633,0.000000,...,0,0,1,0,0,0,0,1,0,175001.0
1454,1455,21.472480,14.838658,6,4.679501,1978,1988,15.342608,156.123103,8.046409,...,0,0,1,0,0,0,0,1,0,210001.0
1455,1456,18.320139,13.983828,7,6.637669,1941,2006,54.598150,73.494065,0.000000,...,0,0,1,0,0,0,0,1,0,266501.0
1456,1457,18.668047,14.145129,5,4.679501,1950,1996,54.598150,21.007316,13.087759,...,0,0,1,0,0,0,0,1,0,142126.0
1457,1458,19.854050,14.195497,5,4.679501,1965,1965,54.598150,161.706884,9.457146,...,0,0,1,0,0,0,0,1,0,147501.0

# simple linear regression from scratch

In [54]:
#find the most correlated feature with saleprice
newdict = train[train.columns[1:]].corr()['Saleprice'][:378]
newdict.keys().max()

'haspool'

In [55]:
trainSimpleX = train.haspool
trainSimpleY = train.Saleprice

In [56]:
trainSimpleX

0       0
1       0
2       0
3       0
4       0
       ..
1453    0
1454    0
1455    0
1456    0
1457    0
Name: haspool, Length: 1458, dtype: int64

In [61]:
#find z-index for every entry in x
zx = []
m = 0
for i in trainSimpleX :
    zx.append((trainSimpleX[m]-trainSimpleX.mean())/trainSimpleX.std())
    m+=1

In [64]:
#find z-index for every entry in y
zy = []
m = 0
for i in trainSimpleY :
    zy.append((trainSimpleY[m]-trainSimpleY.mean())/trainSimpleY.std())
    m+=1

In [67]:
#find r (correlation)
m = 0
rf = 0
for i in trainSimpleX :
    rf += (zx[m]*zy[m])
    m+=1
print(rf)
r = rf/(len(trainSimpleX)-1)
print(r)

151.52128074121453
0.1039953882918425

In [69]:
b1 = r * (trainSimpleY.std()/trainSimpleX.std())
print(b1)
b0 = trainSimpleY.mean() - (b1 * trainSimpleX.mean())
print(b0)

129093.32920109965
180402.67079889806

In [74]:
#predict if has pool
y = b0 + (b1 * 1)
print(y)

309495.99999999773

In [80]:
#predict if has no pool
y = b0 + (b1 * 0)
print(y)

180402.67079889806

## we found that simple linear regression worked but it's not logic that we will find the house price by only haspool feature so we will build multiple linear regression model with sklearn

In [75]:
model = LinearRegression()

In [76]:
trainx = pd.DataFrame(train)
trainy = np.array(train.Saleprice)
trainx.drop("Saleprice", axis=1, inplace=True)

In [77]:
model.fit(trainx , trainy)

LinearRegression()

### predict with test dataset (first row only)

In [78]:
test = pd.read_csv("test.csv")
test

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20.673625,14.550687,5,4.679501,1961,1961,54.598150,107.505912,7.760721,...,0,0,0,1,0,0,0,0,1,0
1,1462,20.834996,15.023149,6,4.679501,1958,1958,14.642918,174.393644,0.000000,...,0,0,0,1,0,0,0,0,1,0
2,1463,19.687482,14.950918,5,3.991517,1997,1998,54.598150,156.263694,0.000000,...,0,0,0,1,0,0,0,0,1,0
3,1464,20.348384,14.204772,6,4.679501,1998,1998,6.157403,128.653472,0.000000,...,0,0,0,1,0,0,0,0,1,0
4,1465,13.949261,12.696875,8,3.991517,1992,1992,54.598150,71.179547,0.000000,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,8.726308,10.765922,4,5.348041,1970,1970,54.598150,665.141633,0.000000,...,0,0,0,1,0,0,0,0,1,0
1455,2916,8.726308,10.723223,4,3.991517,1970,1970,54.598150,69.030589,0.000000,...,0,0,0,1,1,0,0,0,0,0
1456,2917,31.755371,15.820339,5,5.348041,1960,1996,54.598150,213.123315,0.000000,...,0,0,0,1,1,0,0,0,0,0
1457,2918,17.611139,14.307159,5,3.991517,1992,1992,54.598150,85.016479,0.000000,...,0,0,0,1,0,0,0,0,1,0
1458,2919,19.687482,14.124224,7,3.991517,1993,1994,13.690162,151.596107,0.000000,...,0,0,0,1,0,0,0,0,1,0

In [79]:
model.predict(test.loc[0,:].to_numpy().reshape(1,-1))

array([128988.21503067])